* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    width: 1440px;
    margin: auto;
}

.header {
    width: 1440px;
    margin-top: -110px;
    position: fixed;
    background-color: #fff;
}

.header__nav {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.header__logo a {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.header__logo a:hover {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 205px 0 0 0 black;
    color: white;
}

.header__links a {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-left: 46px;
}

.header__links a:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: translateY(-5px);
}

.header__home {
    height: 622px;
    background-image: url("https://source.unsplash.com/vSuQJKZkt4U/1920x1080");
    background-size: 1440px 622px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__home p {
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__home hr {
    width: 80px;
    height: 10px;
    left: 687px;
    top: 362px;
    background: #817070;
}

.main {
    margin-top: 110px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    /* max-height: 2000px; */
}

.main__story_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0;
}

.main__story_content {
    display: flex;
    align-items: center;
}

.main__story_content img {
    width: 600px;
    height: 400px;
    margin-bottom: 60px;
    margin-left: 80px;
}

.main__story_content p {
    width: 600px;
    margin-left: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.main__blog {
    height: 711px;
    background: #EFEFEF;
}

.main__blog_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0;
}

.main__blog_content {
    display: flex;
    justify-content: space-between;
    margin: 0 102px;
}

.main__blog_post {
    width: 365px;
    height: 474px;
    background: #FFFFFF;
    padding: 0 20px;
}

.main__blog_post_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    padding-top: 20px;
    text-decoration: none;
    display: block;
}

.main__blog_image {
    width: 325px;
    height: 216px;
    padding: 24px 0;
}

.main__blog_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.main__contact {
    height: 337px;
    background: #817070;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    padding-top: 60px;
}

.main__contact p {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

input[type=email] {
    width: 300px;
    height: 55px;   
    background: #817070;
    border: 3px solid #FFFFFF;
    margin: 28px 0;

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;    
    color: #FFFFFF;
  }

input[type=email]::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;    
    text-align: center;
    color: #FFFFFF;
}

input[type=email]:focus {
    outline: none;
    border: 3px solid #f8e9e9;
    box-shadow: 0 0 10px #f8e9e9;
}

button {
    width: 129px;
    height: 55px;
    background: #FFFFFF;
    border: none;
    
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #817070;
}

button:hover {
    background-color: #f8e9e9;
    cursor: pointer;
}

button:active, button:focus {
    outline: none;
    color: #FFFFFF;
    background-color: #817070;
    border: 3px solid #FFFFFF;
}

footer {
    height: 90px;
}

footer p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 28px;
}
  